@{
    ViewData["Title"] = "Order Confirmation";
}
 
<div class="container" style="text-align:center">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <br />
    <p class="text-center">Thank you for your purchase! Your order has been confirmed and will be processed shortly.</p>
    <img src="~/images/continueshopping.png" alt="Login Image" />
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Continue Shopping</a>
</div>
